@charset "utf-8";
body,main{
	margin:0;
	padding:0;
	font-size:12px;
	overflow-y:hidden;
	font-family:"微软雅黑";
}
/****************************head start******************************/
.head{
	width:100%;
	height:50px;;
	position:relative;
	background-color:#008992;
}
.head .up{
	width:100%;
	height:60px;
	background:url(../images/bg_tittleBar.png);
	position:relative;
}
.logo{
	width:223px;
	height:26px;
	background:url(../images/tittle.png);
	float:left;
	top:18px;
	left:10px;
	position:absolute;
}
.user-info{
	float:right;
	position:absolute;
	right:55px;
}
.user-pic{
	width:17px;
	height:17px;
	background:url(../images/admin_welcome.png);
	float:left;
	position:relative;
	top:20px;
}
.user-c{
	float:left;
	position:relative;
	top:18px;
	left:10px;
}
.user-c .mc{
	color:#8399B1;
	float:left;
}
.user-c .border-line{
	border-left:1px solid;
	float:left;
	height:12px;
	top:5px;
	position:relative;
	color:#8399B1;
}
.user-c .pws{
	position:relative;
	float:left;
	left:5px;
}
.user-c .pws a{
	color:#8399B1;
}
.logout{
	width:13px;
	height:15px;
	background:url(../images/logout.png) no-repeat center;
	float:right;
	position:absolute;
	right:15px;
	cursor:pointer;
	top:20px;
}
.logout:hover{
	background:url(../images/logout_over.png) no-repeat center;
}
/****************************head end******************************/
/****************************content start************************/
.main-content{
	margin-left: 122px;
}
.menu{
	float:left;
	width:122px;
	color:#FFFFFF;
	background-image:url(../images/menu-bg3.png);
	background-repeat:repeat-y;
	position: relative;
}
.page{
	position: relative;
	width: 100%;
	background-color: #ebebeb;
}
.page > div.iframe_container{
	height:100%;
	margin: 0 auto;
}
.page-pos{
	margin:0 auto;
	/*min-height:678px;*/
	height:100%;
}
/****************************content end*******************************/
/****************************footer start******************************/
.footer{
    margin: 0 auto;
    text-align: center;
    width: 100%;
	height: auto;
	background:#ccc;
	position:relative;
	bottom:0;
}
/****************************footer end******************************/