@charset "utf-8";
/* CSS Document */
/***********************************管理员用户日志 start**********************************************/
a {
	text-decoration:none;
	outline:none;
}
input::-ms-clear{
    display:none;
}
input::-ms-reveal{
    display:none;
}
.head-left {
	background: url(../images/logo2.png) no-repeat 0px -3px;
	height: 26px;
	float: left;
	font-size: 16px;
	color: #fafafa;
	line-height: 26px;
	padding-left: 23px;
	margin: 11px 0px 0px 10px;
}
.head-right {
	width:158px;
	height:100%;
	position:relative;
	float:right;
	right:30px;
	cursor:pointer;
}
.head-right:hover {
	background:url(../images/login-bg1.png) no-repeat;
}
.head-right:hover .login-sub {
	display:block;
}
.head-right:hover .down {
	background:url(../images/up.png) no-repeat;
}
.login-icon {
	background:url(../images/user.png) no-repeat;
	width:20px;
	height:20px;
	display:inline-block;
	position:relative;
	top:12px;
	left:12px;
}
.login-sub {
	width:158px;
	height:145px;
	position:absolute;
	top:50px;
	z-index:2;
	background:url(../images/login-bg2.png) no-repeat;
	display:none;
}
.login-sub > div {
	height:28px;
	width:154px;
	line-height:28px;
	font-size:13px;
	color:#fff;
	cursor:pointer;
	margin-left:2px;
	text-indent:42px;
	position:relative;
}
.login-sub > div a{
	color:#fff;
	width:100%;
	float:left;
}
.login-sub > div:hover {
	background-color:#2ca3ab;
}
.modify-psw {
	background:url(../images/modify-psw.png) no-repeat 10px center;
}
.exit-account {
	background:url(../images/exit.png) no-repeat 10px center;
}
.personal-info {
	background:url(../images/info.png) no-repeat 10px center;
}
.msg-list {
	background:url(../images/list.png) no-repeat 10px center;
}
.search-left {
	float:left;
	position:relative;
	top:20px;
	width:1040px;
	border-right:1px solid #dddddd;
}
.user {
	font-size:14px;
	color:#fff;
	line-height:20px;
	position:relative;
	top:8px;
	left:23px;
}
.head-right .down {
	background:url(../images/down.png) no-repeat;
	width:25px;
	height:25px;
	/*position:relative;*/
	/*cursor:pointer;*/
	display:inline-block;
	/*left:33px;
	top:18px;*/
	float:right;
	margin-top:12px;
	margin-right:-2px;
}
.menu-bg {
	width:122px;
	height:100%;
	background:url(../images/menu-bg-repeat.png) repeat-y;
}
.menu-shandow {
	position:fixed;
	bottom:0;
	width:122px;
	height:564px;
	background:url(../images/menu-bg2.png) no-repeat;
}
.menu-logo {
	height:59px;
	width:100%;
	background:url(../images/menu-border.png) no-repeat bottom;
}
.menu-logo > span {
	background:url(../images/logo.png) no-repeat;
	width:34px; 
	height:36px;
	text-align:center;
	display:inline-block;
	position:relative;
	top:7px;
	left:44px;
}
.menu-con {
	width:100%;
	overflow-y:auto;
	/*height:100%;*/
}
.menu-con ul {
	padding:0;
	margin:0;
	overflow-y:auto;
	overflow-x:hidden;
}
.menu-con ul li {
	list-style:none;
	float:left;
	width:98%;
	height:58px;
	font-size:13px;
	color:#fafafa;
	text-align:center;
	cursor:pointer;
	position:relative;
}
.menu-con ul li a {
	text-decoration:none;
	color:#fafafa;
	display:inline-block;
	width:100%;
	height:15px;
	padding-top:21px;
	padding-bottom:21px;
	outline:none;
	text-align:left;
	text-indent:42px;
}
.menu-con ul li a.hover {
	color:#00ffff;
}
.menu-border {
	width:100%;
	height:1px;
	background:url(../images/menu-border.png) no-repeat;
	position:relative;
	/*top:9px;*/
}
.menu-con ul li.menu-icon1 a{background:url(../images/menu1.png) no-repeat 15px 19px }
.menu-con ul li.menu-icon1 a.hover{background:url(../images/menu1-sel.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon1 a:hover{background:url(../images/menu1-sel.png) no-repeat 15px 19px    ;color:#00ffff;}
.menu-con ul li.menu-icon2 a{background:url(../images/menu2.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon2 a.hover{background:url(../images/menu2-sel.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon2 a:hover{background:url(../images/menu2-sel.png) no-repeat 15px 19px    ;color:#00ffff;}
.menu-con ul li.menu-icon3 a{background:url(../images/menu3.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon3 a.hover{background:url(../images/menu3-sel.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon3 a:hover{background:url(../images/menu3-sel.png) no-repeat 15px 19px    ;color:#00ffff;}
.menu-con ul li.menu-icon4 a{background:url(../images/menu4.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon4 a.hover{background:url(../images/menu4-sel.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon4 a:hover{background:url(../images/menu4-sel.png) no-repeat 15px 19px    ;color:#00ffff;}
.menu-con ul li.menu-icon5 a{background:url(../images/menu5.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon5 a.hover{background:url(../images/menu5-sel.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon5 a:hover{background:url(../images/menu5-sel.png) no-repeat 15px 19px    ;color:#00ffff;}
.menu-con ul li.menu-icon6 a{background:url(../images/menu6.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon6 a.hover{background:url(../images/menu6-sel.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon6 a:hover{background:url(../images/menu6-sel.png) no-repeat 15px 19px    ;color:#00ffff;}
.menu-con ul li.menu-icon7 a{background:url(../images/menu7.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon7 a.hover{background:url(../images/menu7-sel.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon7 a:hover{background:url(../images/menu7-sel.png) no-repeat 15px 19px    ;color:#00ffff;}
.menu-con ul li.menu-icon8 a{background:url(../images/menu8.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon8 a.hover{background:url(../images/menu8-sel.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon8 a:hover{background:url(../images/menu8-sel.png) no-repeat 15px 19px    ;color:#00ffff;}
.menu-con ul li.menu-icon9 a{background:url(../images/menu9.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon9 a.hover{background:url(../images/menu9-sel.png) no-repeat 15px 19px    }
.menu-con ul li.menu-icon9 a:hover{background:url(../images/menu9-sel.png) no-repeat 15px 19px    ;color:#00ffff;}
.menu-sel {
	position:absolute;
	right:-4px;
	background:url(../images/menu-sel.png) no-repeat;
	width:10px;
	height:20px;
	top:19px;
	z-index:2;
}
.log {
	width:100%;
	height:72px;
	background-color:#fafafa;
	margin-top:30px;
	position:relative;
	outline:none;
}
.user-name {
	margin-left:30px;
	position:relative;
	float:left;
}
.contact.user-name,.contacts.user-name {
	margin-left:15px;
}
.user-name input {
	width:138px;
	height:30px;
	border:1px solid #aaaaaa;
	border-radius:4px;
	padding:0 10px;
	font-size:13px;
	color:#aaaaaa;
	line-height:30px;
	position:absolute;
	z-index:1;
	background-color:transparent;
	box-sizing:inherit;
}
.user-name-260 input {
	width:260px;
}
.user-name .div-text{
	top:10px;
	left:11px;
}
.table-top {
	width:95%;
	margin:0 auto;
	height:35px;
	line-height:35px;
	background-color:#555555;
	border-radius:5px 5px 0 0;
	margin-top:30px;
}
.pro-empty {
	color:#aaa;
	cursor:default;
	background:url(../images/delete-dis.png) no-repeat 3px center;
}
.pro-empty-able {
	color:#fff;
	cursor:pointer;
	background:url(../images/delete.png) no-repeat 3px center;
}
.pro-empty-able:hover {
	color:#00ffff;
	background:url(../images/delete-hover.png) no-repeat 3px center;
}
.edit-pro {
	color:#aaa;
	cursor:default;
	background:url(../images/bj-dis.png) no-repeat 3px 10px;
}
.edit-pro-able {
	color:#fff;
	cursor:pointer;
	background:url(../images/bj.png) no-repeat 3px 10px;
	display:none;
}
.edit-pro-able:hover {
	color:#00ffff;
	background:url(../images/bj-able.png) no-repeat 3px 10px;
}
.save {
	color:#aaa;
	cursor:default;
	background:url(../images/save-dis.png) no-repeat 2px 9px;
}
.save-able {
	color:#fff;
	cursor:pointer;
	background:url(../images/save.png) no-repeat 2px 9px;
}
.save-able:hover {
	color:#00ffff;
	background:url(../images/save-hover.png) no-repeat 2px 9px;
}
.clear-pro,.save-pro,.edit-pro {
	width:70px;
	height:20px;
	line-height:20px;
	text-indent:15px;
	font-size:13px;
}
.edit-pro {
	display:none;
}
.clear-pro,.clear-pro:hover {
	color:#008992;
	background:url(../images/qkcp.png) no-repeat left center;
}
.edit-pro,.edit-pro:hover {
	color:#008992;
	background:url(../images/bj-hover.png) no-repeat left center;
}
.save-pro,.save-pro:hover {
	color:#008992;
	background:url(../images/bcxg.png) no-repeat left center;
}
.clear-pro:hover,.save-pro:hover,.edit-pro:hover {
	text-decoration:underline;
}
.table-top > div {
	line-height:35px;
}
.table-middle {
	width:95%;
	margin:0 auto;
}
.table-middle thead {
	color:#969fbd;
	font-size:13px;
}
.table-middle tbody {
	color:#222;
	font-size:13px;
}
.admin .table-middle td:first-child {
	padding-left:2%;
}
.table-bottom {
	width:95%;
	margin:20px 2.5% 0;
	background-color:#e3e3e3;
	border-radius:0 0 5px 5px;
	height:40px;
	/*position:fixed;
	bottom:0;*/
	clear: both;
}
.log-table table {
	margin:0 auto;
	table-layout:fixed
}
.log-table td {
	height:30px;
	padding:5px;
	white-space:nowrap;
	word-break:normal;
	word-wrap:normal;
	overflow:hidden;
	text-overflow:ellipsis;
}
.modular.zl_select .select-container,.operation.zl_select .select-container,.select1.zl_select .select-container,.select2.zl_select .select-container,.select3.zl_select .select-container,.select4.zl_select .select-container,.select5.zl_select .select-container,.select-pro.zl_select .select-container,.select6.zl_select .select-container {
	border: 1px solid #aaaaaa;
	color:#aaaaaa;
}
.zl_select .select-container.error-style {
	background-color: #edc8cc;
    border: 1px solid #ae0004;
}
.zl_select .select-container.error-style > div {
	background-color: #edc8cc;
}
.time .from,.time .to {
	width:160px;
	position:relative;
	border:1px solid #aaaaaa;
	height:30px;
	border-radius:4px;
	background-color:#fafafa;
}
.time .from.focus,.time .to.focus {
	border:1px solid #0DB4BE;
}
.time input {
	width:113px;
	border:0;
	height:27px;
	line-height:27px;
	margin-left:1px;
	padding-left:12px;
	background-color:#fafafa;
	position:relative;
}
.time img {
	position:relative;
	top:5px;
	cursor:pointer;
}
.time .txt {
	position:relative;
	top:10px;
	margin:0 5px;
	color:#aaaaaa;
}
.border {
	float:left;
	height:25px;
	width:1px;
	position:relative;
	top:31px;
	margin:0 15px;
	background-color:#DDDDDD;
}
.name-border {
	height:25px;
	width:1px;
	position:relative;
	top:-6px;
	margin-left:15px;
	background-color:#ccc;
	display:inline-block;
}
.search {
	font-size:14px;
	color:#fafafa;
	height:30px;
	line-height:30px;
	text-align:center;
	width:75px;
	position:relative;
	top:20px;
	background-color:#0DB4BE;
	cursor:pointer;
	float:left;
	border-radius:4px;
	margin-left:15px;
}
.search a{color:#fafafa}
.search:hover {
	background-color:#008992;
}
.clear {
	position:relative;
	top:28px;
	color:#0066cc;
	font-size:13px;
	cursor:pointer;
	float:left;
}
.clear a{color:#0066cc}
.clear:hover {
	text-decoration:underline;
}
.pagination-content {
	position:relative;
	top:13px;
}
.pagination-jump {
	position:relative;
	top:11px;
}
.pagination-jump input {
	width:20px;
	height:13px;
	border:1px solid #999999;
	border-radius:3px;
	text-align:center;
	line-height:12px;
	margin:0 3px;
}
.pagination-jump span {
	color:#35424b;
}
.modify-password .pop-con .headline {
	width:75px;
}
/***********************************管理员用户日志 end************************************************/
/***********************************销售员管理 start**********************************************/
.table-border {
	height:18px;
	width:1px;
	background-color:#777777;
	margin:0 10px;
	float:right;
	position:relative;
	top:8px;
}
.delete {
	padding-left:20px;
	background:url(../images/delete-dis.png) no-repeat 0 9px;
	color:#aaa;
}
.delete a{color:#aaa}
.delete-able {
	padding-left:20px;
	background:url(../images/delete.png) no-repeat 0 9px;
	cursor:pointer;
	color:#fff;
}
.delete-able a{color:#fff}
.delete-able:hover a { color:#00ffff }
.delete-able:hover {
	background:url(../images/delete-hover.png) no-repeat 0 9px;
}
.import {
	padding-left:20px;
	background:url(../images/import.png) no-repeat 0 9px;
	cursor:pointer;
}
.import a{color:#fff}
.import:hover {
	background:url(../images/import-hover.png) no-repeat 0 9px;
}
.import:hover a {
	color:#00ffff;
}
.add {
	margin-right:20px;
	cursor:pointer;
}
.add a {
	color:#fff;
	text-decoration:none;
	display:inline-block;
	height:35px;
	padding-left:20px;
	background:url(../images/add.png) no-repeat 0 9px;
}
.add a:hover {
	background:url(../images/add-hover.png) no-repeat 0 9px;
}
.add:hover a {
	color:#00ffff;
}
.edit,.reset,.delete-staff,.assign,.upload,.assign-staff,.stop,.start {
	color:#0066cc;
	font-size:13px;
	cursor:pointer;
	text-decoration:none;
}
.edit-dis,.reset-dis,.delete-staff-dis,.upload-dis {
	color:#aaa;
	cursor:default;
}
.edit:hover,.reset:hover,.delete-staff:hover,.assign:hover,.upload:hover,.assign-staff:hover,.stop:hover,.start:hover {
	text-decoration:underline;
}
.edit-dis:hover,.reset-dis:hover,.delete-staff-dis:hover {
	text-decoration:none;
}
.checkbox {
	background:url(../images/checkbox1.png) no-repeat left center;
	width:28px;
	height:42px;
	cursor:pointer;
}
.choose-goods td.checkbox {
	background:url(../images/checkbox1.png) no-repeat 35px center;
}
.choose-goods td.checkbox.sell {
	background:none no-repeat 35px center;
}
.choose-goods td.checkbox.sel {
	background:url(../images/checkbox-sel-all1.png) no-repeat 35px center;
}
.choose-goods td.checkbox.sell.sel {
	background:none no-repeat 35px center;
}
.checkbox.sel {
	background:url(../images/checkbox-sel.png) no-repeat left center;
}
.checkbox.selall {
	background:url(../images/checkbox-sel-all1.png) no-repeat left center;
}
.cust-info {
	color:#0066cc;
	cursor:pointer;
}
.cust-info:hover {
	text-decoration:underline;
}
/***************弹出层**添加编辑销售员*************/
.zzc {
	background-color: #000;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
	display:none;
	filter:alpha(opacity=50);
}
.pop,.pop1,.pop2 {
	width:690px;
	display:none;
	overflow: visible;
    position: fixed;
	z-index:10;
	top:15%;
	left:30%;
}
.strong-prompt {
	width:605px;
	display:none;
	overflow: visible;
    position: fixed;
	z-index:10;
	top:25%;
	left:30%;
}
.pop-head {
	height:35px;
	line-height:35px;
	width:100%;
	background-color:#555555;
	font-size:14px;
	color:#fff;
	text-indent:12px;
	border-radius:4px 4px 0 0;
}
.pop-head a {
	width:30px;
	height:30px;
	float:right;
	position:relative;
	right:10px;
	cursor:pointer;
	display:inline-block;
	background:url(../images/close.png) no-repeat 0 2px;
}
.pop-con {
	padding:25px 0;
	width:100%;
	background-color:#fafafa;
}
.pop-foot {
	height:50px;
	width:100%;
	background-color:#e3e3e3;
	/*line-height:50px;*/
	text-align:center;
	border-radius:0 0 4px 4px;
}
.pop-jxtj {
	width:90px;
	height:30px;
	background-color:#fafafa;
	font-size:14px;
	color:#009999;
	line-height:30px;
	text-align:center;
	border:1px solid #0db4be;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	position:relative;
	top:10px;
}
.pop-jxtj:hover {
	background-color:#d0dedf;
}

.pop-qd,.edit-pop-qd,.pop-qd-dis {
	width:65px;
	height:30px;
	background-color:#0db4be;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:30px;
	cursor:pointer;
	display:inline-block;
	border-radius:4px;
	margin-left:20px;
	border:none;
	position:relative;
	top:10px;
}
.pop-bj {
	width:65px;
	height:30px;
	background-color:#0db4be;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:30px;
	cursor:pointer;
	display:inline-block;
	border-radius:4px;
	margin-left:20px;
	position:relative;
	top:10px;
}
.pop-bj:hover {
	background-color:#008992;
}
.pop-tjdd {
	width:65px;
	height:30px;
	background-color:#0db4be;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:30px;
	cursor:pointer;
	display:inline-block;
	border-radius:4px;
	margin-left:20px;
}
.pop-tjdd:hover {
	background-color:#008992;
}
.pop-tjdd .loading {
	background:url(../images/animate.gif) no-repeat center;
	height:30px;
	width:30px;
	top:0;
}
.pop-qd:hover,.edit-pop-qd:hover {
	background-color:#008992;
}
.pop-qd-dis {
	background-color:#aaa;
	cursor:default;
	border:none;
}
.pop-qd-dis:hover {
	background-color:#aaa;
}
/*.pop-import-qd {
	width:65px;
	height:30px;
	background-color:#0db4be;
	font-size:14px;
	color:#fff;
	text-align:center;
	line-height:30px;
	cursor:pointer;
	display:inline-block;
	border-radius:4px;
	margin-left:20px;
}
.pop-import-qd:hover {
	background-color:#008992;
}*/
.pop-qx {
	font-size:14px;
	color:#0066cc;
	cursor:pointer;
	margin-left:20px;
	position:relative;
	top:12px;
}
.pop-qx:hover {
	text-decoration:underline;
}
.pop-con .headline {
	font-size:14px;
	color:#222;
	width:80px;
	margin-right:15px;
	display:inline-block;
	height:30px;
	line-height:30px;
	text-align:right;
	float:left;
	overflow:hidden;
	float:left;
}
.pop-con .headline-con {
	font-size:14px;
	color:#222;
	width:auto;
	margin-right:15px;
	display:inline-block;
	height:30px;
	line-height:30px;
	text-align:left;
	float:left;
	overflow:hidden;
	text-indent:20px;
}
.describe-txt {
	width:425px;
	max-height:150px;
	min-height:30px;
	font-size:14px;
	line-height:25px;
	padding:3px;
	color:#222;
	display:inline-block;
	margin-left:10px;
	word-break: break-all;
    word-wrap: break-word;
	overflow-y:auto;
}
.upload-all {
	height:30px;
	line-height:30px;
	padding:0 18px 0 30px;
	border:1px solid #0db4be;
	background-color:#fafafa;
	color:#009999;
	display:inline-block;
	background:url(../images/fj.png) no-repeat 10px center;
	border-radius:4px;
	cursor:pointer;
	margin-left:10px;
}
.upload-all:hover {
	background-color:#d0dedf;
}
.file-fj {
	width:415px;
	padding-left:15px;
	border:1px solid #DDDDDD;
	background-color:#F6F6F8;
	padding-top:10px;
	margin-left:90px;
	clear:both;
}
.file-list span {
	background:url(../images/fj.png) no-repeat left center;
	padding-left:20px;
	font-size:13px;
	color:#222;
}
.file-list {
	margin-bottom:15px;
}
.file-list a {
	color:#0066cc;
	font-size:12px;
	margin-left:10px;
	cursor:pointer;
}
.batch-import .file-list a {
	float:left;
	margin-top:15px;
}
.file-list a:hover {
	text-decoration:underline;
}
.describe {
	margin-top:35px;
	position:relative;
}
.textarea {
	width:415px;
	height:140px;
	border:1px solid #AAAAAA;
	color:#222;
	font-size:14px;
	resize:none;
	background-color:#fafafa;
	padding:0 5px;
	line-height:25px;
	border-radius: 4px;
	overflow-y:auto;
}
.textarea.focus {
	border:1px solid #0db4be;
}
.upload-box {
	float:left;
	margin-bottom:20px;
	position:relative;
	margin-right:10px;
}
.upload-box:hover .upload-all {
	background-color:#d0dedf;
}
.pop-con .headline2 {
	text-align:left;
	width:70%;
	margin-left:16px;
}
.add-salesman input,.modify-password input {
	width:255px;
	height:30px;
	line-height:30px;
	font-size:13px;
	color:#333;
	padding:0 15px;
	border-radius:4px;
	border:1px solid #aaaaaa;
	float:left;
	background-color:#fafafa;
}
.modify-password input.error-style,.add-salesman input.error-style {
	background-color: #edc8cc;
    border: 1px solid #ae0004;
}
.add-salesman input.focus,.modify-password input.focus,.user-name input.focus,.add-product .pop-con input[type="text"].focus,.edit-customer-info .pop-con span input.focus,.finite.focus,.number.focus,.num-box.focus,.memo input.focus,.qxfp_tc_l_search.focus {
	border:1px solid #0db4be;
}
.add-salesman .impor,.modify-password .impor {
	font-size:12px;
	color:#ae0004;
	margin:0 5px;
	display:inline-block;
	float:left;
	height:30px;
	line-height:30px;
}
.add-salesman input.no-border {
	border:none;
	color:#aaa;
}
.discount {
	position:absolute;
	left:330px;
	top:9px;
	color:#aaa;
}
/***************弹出层 end***************/
/***************弹出层**批量导入销售员*************/
.batch-import .upload {
	width:115px;
	height:28px;
	line-height:28px;
	border:1px solid #0db4be;
	border-radius:4px;
	margin-left:50px;
	cursor:pointer;
	float:left;
	position:relative;
}
.batch-import .upload:hover {
	background-color:#d0dedf;
	text-decoration:none;
}
.batch-import .upload input {
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
	cursor:pointer;
	width:115px;
	height:28px;
	float:left;
	outline:none;
	font-size:100px;
}
.batch-import .upload div {
	background:url(../images/upload.png) no-repeat left 5px;
	width:20px;
	height:28px;
	display:inline-block;
	position:absolute;
	left:15px;
}
.batch-import .upload span {
	display:inline-block;
	height:28px;
	line-height:28px;
	overflow:hidden;
	font-size:13px;
	color:#009999;
	margin-left:40px;
}
.batch-import .file-box {
	width:400px;
	border:1px solid #dddddd;
	background-color:#f6f6f7;
	clear:both;
	overflow:hidden;
}
.upload-fail,.upload-max {
	line-height:28px;
	height:28px;
	margin-left:15px;
	color:#ae0004;
	font-size:13px;
}
.upload-max {
	/*color:#646464;*/
	font-size:13px;
}
.batch-import .file-name {
	background:url(../images/upload.png) no-repeat;
	padding-left:25px;
	margin-left:10px;
	margin-top:10px;
	line-height:20px;
	font-size:13px;
	color:#222;
	display:inline-block;
	float:left;
	max-width:315px;
	word-break:break-all;
	word-wrap:break-word;
	white-space:normal;
	margin-bottom:10px;
}
.batch-import .upload-bar {
	width:175px;
	height:3px;
	margin-top:7px;
	margin-left:35px;
	position:relative;
	float:left;
}
.batch-import .bar {
	width:100%;
	background-color:#6db54a;
	position:absolute;
	height:100%;
	z-index:2;
}
.upload-delete {
    cursor: pointer;
    float: left;
    margin-left: 20px;
}
.upload-delete a{color:#0066cc}
.upload-delete a:hover{text-decoration:underline}
.batch-import .success {
	margin-top:3px;
	margin-left:35px;
	color:#777777;
	font-size:12px;
}
.confirm .pop-con,.reset-psw .pop-con,.confirm-edit .pop-con {
	overflow:hidden;
}
.confirm .confirm-icon,.reset-psw .confirm-icon,.confirm-edit .confirm-icon {
	background:url(../images/confirm.png) no-repeat;
	width:40px;
	height:40px;
	margin-left:100px;
	float:left;
	position:relative;
	top:15px;
}
.confirm .confirm-txt,.reset-psw .confirm-txt,.confirm-edit .confirm-txt {
	width:350px;
	line-height:25px;
	color:#2c2c2c;
	font-size:14px;
	margin-left:10px;
	float:left;
	position:relative;
	top:24px;
	margin-bottom:30px;
}
.confirm1 .pop-con,.reset-psw .pop-con {
	overflow:hidden;
}
.confirm1 .confirm-icon,.reset-psw .confirm-icon {
	background:url(../images/confirm.png) no-repeat;
	width:40px;
	height:40px;
	margin-left:100px;
	float:left;
	position:relative;
	top:15px;
}
.confirm1 .confirm-txt,.reset-psw .confirm-txt {
	width:350px;
	line-height:25px;
	color:#2c2c2c;
	font-size:14px;
	margin-left:10px;
	float:left;
	position:relative;
	top:24px;
	margin-bottom:30px;
	word-break:break-all;
	word-wrap:break-word;
}
.download a {
	cursor:pointer;
	color:#0066cc;
}
.download:hover {
	text-decoration:underline;
}
/***************弹出层 end***************/
/************弱提示*************/
.weak-prompt,.info-prompt,.fail-prompt {
	width:137px;
	height:28px;
	border-radius:4px;
	position:absolute;
	top:51px;
	left:43%;
	background:url(../images/tips.png) no-repeat 40px 5px;
	padding-left:68px;
	background-color:#578b34;
	line-height:28px;
	font-size:12px;
	color:#fffefe;
	display:none;
}
.info-prompt {
	background:url(../images/tips-info.png) no-repeat 40px 5px;
	color:#664100;
	background-color:#fab42c;
}
.fail-prompt {
	background:url(../images/tips-fail.png) no-repeat 40px 5px;
	color:#fffefe;
	background-color:#d05b5d;
}
/***********************************销售员管理 end************************************************/
/***********************************客户管理 start**********************************************/
.customer .user-name input,.product .user-name input {
	width:260px;
}
.customer .contact input,.customer .contacts input,.product .contacts input {
	width:138px;
}
.customer-list .add {
	margin-right:0;
}
.customer-list .cur-po:hover {
	text-decoration:underline;
}
.customer-info .pop-con > div,.edit-customer-info .pop-con > div {
	margin-left:30px;
}
.customer-info .pop-con span,.edit-customer-info .pop-con span {
	height:30px;
	line-height:30px;
	font-size:13px;
	color:#222;
}
.edit-customer-info .pop-con span input {
	height:28px;
	line-height: 28px;
	width:99%;
	border:1px solid #aaa;
	border-radius:4px;
	text-indent:10px;
	padding:0;
	background-color:#fafafa;
}
.people,.other-people {
	background-color:#e3e3e3;
	padding:10px 0;
	overflow:hidden;
}
.pop.customer-info,.pop.edit-customer-info {
	top:10%;
}
.pop.install-info.customer-info {
	top:20%;
}
.pop-con{
	position: relative;
	overflow: visible;
}
.edit-customer-info .pop-con span.impor,.add-product .pop-con span.impor {
	font-size:12px;
	color:#ae0004;
	margin:0 5px;
	display:inline-block;
	height:30px;
	line-height:30px;
	float:left;
}
.record-head {
	margin:30px 35px 0 35px;
	height:20px;
	font-size:14px;
	color:#222;
	outline:none;
}
.record-title {
	height:35px;
	line-height:35px;
	background-color:#fafafa;
	font-size:14px;
	color:#222;
	border-radius:4px;
	width:95%;
	margin:0 auto;
}
.record-title .border {
	float:right;
	top:8px;
	height:20px;
}
.record-table .border {
	top:8px;
	height:20px;
}
.record-con {
	background-color:#fafafa;
	width:95%;
	margin:0 auto;
}
.record-con .con-top .ov-hi.dl-ib.mr20 {
	min-width:210px;
	float:left;
}
.con-top {
	/*overflow:hidden;*/
	border-bottom:1px solid #ccc;
	margin:0 15px;
	padding:15px 0;
}
.con-middle {
	overflow:hidden;
	margin:0 15px;
	padding:15px 0;
	clear:both;
}
.return {
	background:url(../images/return.png) no-repeat left center;
	padding-left:16px;
	cursor:pointer;
}
.return a {
	color:#222;
	text-decoration:none;
}
.con-middle .top table td {
	padding:0 1%;
	text-align:center;
	color:#969fbd;
	font-size:13px;
	height:40px;
}
.con-middle .top table td.ta-right {
	text-align:right;
}
.con-middle .top table td.view-zj {
	padding-right:45px;
	text-align:right;
}
.con-middle .top table td.pr35.ta-right {
	text-align:right;
	padding-right:35px;
}
.zj {
	width:100px;
	text-align:right;
	display:inline-block;
	float:right;
	height:22px;
	line-height:22px;
	right:35px;
}
.zj-number {
	float:right;
	position:relative;
	right:35px;
}
.con-middle .top table td.ta-left {
	text-align:left;
}
.con-middle .middle-left table td {
	padding:0 1%;
	text-align:center;
	color:#222;
	font-size:13px;
	height:20px;
	word-break:break-all;
	word-wrap:break-word;
}
.con-middle .middle-left table td.colorff6600 {color:#ff6600;}
.con-middle .middle-left table td.coloraaa {color:#aaa;}
.con-middle .middle-left table tr td {
	padding-top:5px;
	padding-bottom:5px;
}
.choose-goods .con-middle .middle-left table tr td {
	height:25px;
}
.con-middle .middle-left table tr td.ta-right.pr15 {
	text-align:right;
}
.con-middle .middle-left table tr td.ta-right.pr45 {
	text-align:right;
	padding-right:45px;
}
.con-middle .middle-left table tr td.p5 {
	padding:5px;
}
.con-middle .middle-left table tr.pb10 td {
	padding-bottom:10px;
}
.middle-left {
	width:75%;
}
.middle-right {
	width:25%;
	height:135px;
	background-color:#f4f4e2;
	position:relative;
}
.view-order .middle-right {
	min-height:135px;
}
.record-con.choose-goods .middle-right {
	background-color:#e3e3e3;
}
.choose-goods .date.time .from {
	top:0;
	height:22px;
	width:110px;
}
.choose-goods .date.time .from input {
	height:17px;
	line-height:17px;
	width:70px;
	position:relative;
	top:-4px;
}
.date-zzc {
	width:127px;
	height:27px;
	background-color:#ebebeb;
	opacity:0.8;
	filter:alpha(opacity=50);
	position:absolute;
}
.add-zzc {
	top:9px;
	width:107px;
	left:33px;
}
.choose-goods .date.time .from img {
	top:0px;
}
.middle-right > div {
	text-align:center;
	margin-top:20px;
}
.middle-right .xz {
	width:105px;
	height:30px;
	border-radius:4px;
	background-color:#0db4be;
	color:#fff;
	font-size:13px;
	text-align:center;
	line-height:30px;
	cursor:pointer;
	display:inline-block;
}
.middle-right .xz:hover {
	background-color:#008992;
}
/***********************************客户管理 end************************************************/
/***********************************登录页 start**********************************************/
.login-bg {
	min-width:1366px;
	/*min-height:768px;*/
	background:url(../images/login-bg.png) no-repeat center;
	margin:0 auto;
}
.login-box {
	width:337px;
	height:611px;
	position:relative;
}
.login-logo {
	background:url(../images/login-logo.png) no-repeat;
	width:390px;
	height:258px;
	position:relative;
	left:-27px;
}
.login-error {
	width:220px;
	height:30px;
	line-height:30px;
	text-align:center;
	font-size:16px;
	color:#fff;
	background-color:#cd4b4e;
	border-radius:4px;
	margin:0 auto;
	margin-top:20px;
	position:absolute;
	top:255px;
	left:58px;
}
.login-user,.login-psw {
	width:336px;
	border-bottom:1px solid #fff;
	height:35px;
	background:url(../images/login-user.png) no-repeat left 7px;
	margin-top:25px;
}
.login-user {
	margin-top:70px;
}
.login-psw {
	background:url(../images/login-psw.png) no-repeat left 7px;
}
.login-user input,.login-psw input {
	width:270px;
	padding:0 10px;
	height:25px;
	line-height:25px;
	margin-left:20px;
	margin-top:4px;
	font-size:18px;
	color:#fff;
	border:none;
	background:transparent;
}
.login-clear {
	background:url(../images/login-clear.png) no-repeat;
	width:20px;
	height:20px;
	display:inline-block;
	cursor:pointer;
	position:relative;
	top:5px;
	opacity:0.5;
	filter:alpha(opacity=50);
	display:none;
}
.login-clear:hover {
	opacity:1;
	filter:alpha(opacity=100);
}
.login-btn {
	background:url(../images/login-btn.png) no-repeat;
	width:337px;
	height:54px;
	margin:0 auto;
	font-size:22px;
	color:#fff;
	text-align:center;
	line-height:45px;
	margin-top:70px;
	cursor:pointer;
}
.login-btn:hover {
	background:url(../images/login-btn-hover.png) no-repeat;
}
.loading {
	background:url(../images/loading.gif) no-repeat;
	width:28px;
	height:28px;
	margin:0 auto;
	display:inline-block;
	position:relative;
	top:9px;
}
/***********************************登录页 end************************************************/
/***********************************产品管理 start**********************************************/
.product-list .table-middle {
	background-color:#fafafa;
	border-radius:0 0 5px 5px;
	width:95%;
	margin:0 auto;
	padding-bottom:15px;
}
.product-head span {
	line-height:40px;
	text-align:center;
	color:#969fbd;
	font-size:13px;
	vertical-align: middle;
}
.product-head span.width310.dl-ib.h40 {
	text-align:left;
	text-indent:17px;
}
.product1,.product2 {
	width:98%;
	margin:0 1%;
	font-size:13px;
	color:#222;
}
.product1 {
	margin-bottom:4px;
}
.pro1-head {
	background-color:#F0EFEF;
	border-bottom:1px solid #CCCCCC;
}
.product-wrapper .pro1-head:hover {
	background-color:#B6DADC;
	border-bottom:1px solid #B6DADC;
}
.product-wrapper .product1:hover .pro1-head {
	background-color:#B6DADC;
	border-bottom:1px solid #B6DADC;
}
.pro1-head span {
	height:40px;
	line-height:40px;
	overflow:hidden;
	text-align:center;
}
.pro1-head .goods-name {
	text-align:left;
	padding-left:15px;
	height:40px;
	line-height:40px;
}
.pro1-head .goods-name a {
	color:#0066cc;
	cursor:pointer;
}
.pro1-head .goods-name a:hover {
	text-decoration:underline;
}
.has-license {
	padding-left:42px;
	padding-right:29px;
	position:relative;
	top:7px;
	float:left;
}
.middle-left .has-license {
	position:relative;
	left:-4px;
	margin:0;
	top:0;
	padding:0;
}
.bj {
	width:50px;
	height:20px;
	position:relative;
	top:10px;
	float:right;
	display:inline-block;
	/*background-color:#0db4be;*/
	text-align:center;
	line-height:20px;
	color:#0066cc;
	font-size:12px;
	cursor:pointer;
	/*border-radius:4px;*/
}
.bj:hover {
	/*background-color:#008992;*/
	text-decoration:underline;
}
.sj,.xj,.sj-dis {
	width:70px;
	height:25px;
	position:relative;
	top:8px;
	float:right;
	display:inline-block;
	background-color:#0db4be;
	text-align:center;
	line-height:25px;
	color:#fafafa;
	font-size:12px;
	cursor:pointer;
	border-radius:4px;
}
.sj-dis {
	background-color:#bbb;
	cursor:default;
}
.xj {
	margin-right:126px;
}
.sj:hover,.xj:hover {
	background-color:#008992;
}
.sc {
	width:50px;
	height:20px;
	position:relative;
	top:10px;
	float:right;
	font-size:12px;
	color:#0066cc;
	cursor:pointer;
	line-height:20px;
	text-align:center;
	margin-right:10px;
}
.sc:hover {
	text-decoration:underline;
}
.wsj,.ysj {
	width:75px;
	height:20px;
	line-height:20px;
	text-align:center;
	position:relative;
	top:10px;
}
.pro1-con {
	padding:10px 0;
	background-color:#e3e3e3;
}
.pro1-con span {
	text-align:center;
	line-height:30px;
}
.pro1-con span.ta-left {text-align:left}
.pro1-con span.ta-right {text-align:right}
.pro1-con span.width225.dl-ib.ml85 {text-align:left}
.add-product .headline {
	width:80px;
	text-align:right;
}
.add-product .pop-con input[type=text] {
	border: 1px solid #aaa;
    border-radius: 4px;
    height: 28px;
	line-height:28px;
    width: 280px;
	margin-left:15px;
	padding:0 10px;
	float:left;
	background-color:#fafafa;
}
.add-product .pop-con input[type="radio"] {
	width:15px;
	border:none;
	outline:none;
}
.add-product .pop-con label {
	overflow:hidden;
	display:inline-block;
	height:21px;
}
.error,.customer-info .pop-con span.error, .edit-customer-info .pop-con span.error {
	font-size:13px;
	color:#ae0004;
	height:30px;
	line-height:30px;
	display:inline-block;
	float:left;
}
.customer-info .pop-con span.error.color646464, .edit-customer-info .pop-con span.error.color646464 {
	color:#646464;
}
/*.add-salesman .error,.modify-password .error {
	font-size:13px;
	color:#ae0004;
	height:30px;
	line-height:30px;
	display:inline-block;
	float:left;
}*/
.edit-customer-info .pop-con span.error,.add-product .pop-con span.error {
	margin-left:15px;
}
.add-product .pop-con span.error {margin-left:0}
.pro-table-head {
	height:28px;
	line-height:28px;
	background-color:#e3e3e3;
	margin-bottom:2px;
	overflow:hidden;
}
.pro-table-con {
	height:45px;
	line-height:45px;
	background-color:#e3e3e3;
	margin-bottom:2px;
	/*overflow:hidden;*/
}
.pro-table-head div,.pro-con-edit div {
	float:left;
}
.pro-con-noedit div {
	display:inline-block;
}
.product-reduce,.product-add {
	background-image:url(../images/add-bg.png);
	background-repeat:no-repeat;
	font-weight:bold;
	color:#555;
	text-align:center;
	font-size:18px;
	cursor:pointer;
}
.product-reduce:hover,.product-add:hover {
	background-color:#eeeeee;
}
.pro-table-head div {
	text-indent:20px;
}
.pro-table-head div.product-add {text-indent:0}
.pro-table {
	margin:0 auto;
	width: 750px;
	position:relative;
}
.pro-error {
	position:absolute;
	right:10px;
	margin-top:5px;
	color:#ae0004;
	font-size:13px;
}
.pro-table-con input.input1 {
	width:225px;
	margin-left:13px;
	background-color:#fafafa;
}
.pro-table-con input.input2[type=text] {
	width:40px;
	margin-left:0;
	background-color:#fafafa;
}
.record-con .product-name input {
    background-color: #fafafa;
    border: medium none;
    border-radius: 4px;
    height: 28px;
    line-height: 28px;
    padding-left: 8px;
    position: relative;
    width: 341px;
    z-index: 1;
}
.record-con .product-name.active,.record-con .product-name.active > div.ovy-auto,.record-con .goods-name.active,.record-con .goods-name.active > div.pr4 {
	border:1px solid #0db4be;
}
.record-con .product-name > div.ovy-auto .cus-scroll {
	 position:relative;
	 width:345px;
	 padding:0 2px;
	 max-height:150px;
	 display:block;
	 background-color: #fff;
	 overflow-y:auto;
 }
.pro-table-con input.input2.price {
	width:93px;
	padding-right:2px;
}
.pro-table-con .dw {
	height:27px;
	line-height:27px;
	display:inline-block;
	position:relative;
	top:7px;
	margin-left:5px;
}
.pro-table-con input.input1,.pro-table-con input.input2[type=text] {
	position:relative;
	top:9px;
	height:25px;
	line-height:25px;
}
.pro-table-con input.input2.price {
	text-align:right;
}
.record-con .goods-name,.record-con .product-name {
	width:290px;
	padding-left:8px;
	border:1px solid #999;
	border-radius: 4px;
	background-color: #fafafa;
	position: relative;
    text-decoration: none;
    white-space: nowrap;
	line-height:30px;
	height:30px;
}
.record-con .goods-name.role {
	width:277px;
}
.record-con .goods-name.role.error-style,.record-con .goods-name.error-style,.record-con .product-name.error-style {
	background-color: #edc8cc;
    border: 1px solid #ae0004;
}
.record-con .product-name.error-style input,.record-con .product-name.error-style em {
	background-color: #edc8cc;
}
.record-con .goods-name em,.record-con .product-name em {
	background:url(../images/down1.png) no-repeat 5px 8px;
	width:27px;
	height:30px;
	cursor:pointer;
	display:inline-block;
	margin-right:1px;
}
.record-con .goods-name em.toggle,.record-con .product-name em.toggle{
	background-image:url(../images/up1.png);
}
.record-con .product-name em {
	position:absolute;
	z-index:2;
	right:0;
	background-color:#fafafa;
}
.record-con .goods-name span {
	width:262px;
	overflow:hidden;
	color:#aaa;
	display:inline-block;
}
.record-con .goods-name.role span {
	width:250px;
}
.record-con .goods-name > div.pr4,.add-salesman .pop-con .pr4 {
	position:absolute;
	z-index:2;
	width:294px;
	background-color: #fff;
    border: 1px solid #999;
	left:-1px;
	top:27px;
	display:none;
	max-height:150px;
}
.record-con .goods-name.role.active > .pr4,.role.active {
	border:1px solid #0db4be;
}
.record-con .goods-name.role > div.pr4 {
	width:281px;
	padding-bottom:5px;
}
.record-con .product-name {
    padding-left: 0;
	width:350px;
}
.record-con .product-name > div.ovy-auto {
	/*width:246px;
	padding:0 2px;
	position:static;*/
	background-color: #fff;
    border: 1px solid #999;
	padding-right:1px;
	max-height:150px;
	overflow:hidden;
	position:absolute;
	top:29px;
	display:none;
	z-index:2;
	left:-1px;
 }
.record-con .goods-name > div a,.record-con .product-name > div a {
	display:inline-block;
	width:100%;
	height:25px;
	line-height:29px;
	float:left;
	text-indent:40px;
	margin-bottom:5px; 
	cursor:pointer;
	color:#222;
}
.record-con .product-name > div a:hover {
	background-color:#b6dadc;
	/*padding-left:7%;*/
	text-indent:9px;
}
.record-con .product-name > div a { 
	text-indent:10px;
	word-break: break-all;
    word-wrap: break-word;
	white-space: normal;
	height:auto;
	line-height:17px;
	width:93%;
	padding-left:4%;
	text-indent:0;
	padding-top:3px;
	padding-bottom:3px;
	margin-bottom:0;
}
.customer-type {
	float:left;
	width:90px;
	height:150px;
	background-color:#E3E3E3;
}
.customer-type > a {
	width:100%;
	display:block;
	color:#222;
	line-height:25px;
	height:25px;
	text-indent:10px;
}
.customer-type > a.sel {
	background:url(../images/right.png) no-repeat right center #fff;
}
.cus-list {
	float:left;
	width:325px;
	height:150px;
}
.cus-list > a {
	width:98%;
	margin:0 1%;
	display:block;
	height:25px;
	line-height:25px;
	cursor:pointer;
}
.cus-list > a:hover {
	background-color:#B6DADC;
}
.record-con .goods-name > div a.tj {
	width:45px;
	height:23px;
	line-height:23px;
	background-color:#0db4be;
	text-indent:0;
	text-align:center;
	color:#fff;
	border:none;
	top:0;
}
.record-con .goods-name > div a.tj:hover {
	background-color:#008992;
}
.record-con .goods-name > div a:hover {
	background-color:#b6dadc;
}
.record-con .goods-name > div a.checkbox,.add-product span.checkbox {
	background-image:url(../images/checkbox.png);
}
.add-product .pro-table-con span.checkbox {
	background-image:url(../images/add-checkbox.png);
}
.add-product .pro-table-con span.checkbox.error-style {
	background-image:url(../images/add-checkbox-error.png);
}
.record-con .goods-name > div a.checkbox.checksel,.add-product span.checkbox.checksel {
	background-image:url(../images/checkbox-sel-all.png);
}
.customer-name.zl_select .select-container > span {color:#aaa;}
.customer-name.mb15,.customer-address.mb15 {
	height:30px;
	line-height:30px;
}
.customer-name.mb15 > span,.customer-address.mb15 > span,.customer-name > span {
	overflow:hidden;
	float:left;
}
/***********************************产品管理 end************************************************/
/***********************************订单管理 start**********************************************/
.order .user-name input {
	width:138px;
}
.order .user-name {
	margin-left:15px;
}
.order-list .add {
	margin-right:0;
}
.order-list .table-middle td > a {
	text-decoration:none;
	color:#222;
}
.order-list .table-middle td > a.color0066cc {
	color:#0066cc;
}
.order-list .table-middle td > a:hover {
	text-decoration:underline;
}
.qddd,.gbdd {
	width:65px;
	height:23px;
	line-height:23px;
	color:#fff;
	text-align:center;
	cursor:pointer;
	display:inline-block;
	background-color:#0db4be;
	font-size:12px;
	border-radius:4px;
	position:relative;
	top:6px;
}
.qddd:hover,.gbdd:hover {
	background-color:#008990;
}
.new-order .con-top,.choose-goods .con-top {
	border-bottom:none;
}
.choose-goods .con-top {
	padding-bottom:0;
}
.choose-goods .con-middle {
	padding-top:0;
}
.number {
	width:30px;
	height:20px;
	line-height:20px;
	border-radius:4px;
	border:1px solid #999;
	text-align:right;
	padding:0 4px;
	background-color:#fafafa;
}
.number.error-style {
	background-color: #edc8cc;
    border: 1px solid #ae0004;
}
.number::-ms-clear{
    display:none;
}
.num-box {
	background-color:#fafafa;
	border:1px solid #999;
	height:20px;
	line-height:20px;
	border-radius:4px;
}
.num-box.error-style {
	background-color: #edc8cc;
    border: 1px solid #ae0004;
}
.num-box.error-style input {
	background-color: #edc8cc;
}
.num-box > span {
	top:2px;
	right:7px;
}
.num-box .number {
	border:none;
	width:45px;
	margin-right:20px;
	padding:0;
	padding-right:2px;
}
.date {
	width:80px;
	text-align:left;
}
.settlement .product-head {
	margin-left:55px;
}
.settlement .product-head span,.settlement .product1 span {
	text-align:left;
}
.settlement .pro1-head .goods-name {
	padding:0;
}
.settlement .pro1-head {
	background-color:#fafafa;
}
.bc,.tj,.xg,.xgxg {
	width:43px;
	height:20px;
	border-radius:4px;
	border:1px solid #008992;
	text-align:center;
	line-height:20px;
	cursor:pointer;
	display:inline-block;
	position:relative;
	top:10px;
	background-color:#fff;
	color:#008992;
}
.xg,.xgxg {
	float:right;
	right:25px;
	top:0;
}
.bc:hover,.tj:hover,.xg:hover,.xgxg:hover {
	background-color:#d0dedf;
}
.settlement .pro1-head input {
	width:50px;
	padding:0 4px;
	text-align:right;
	border-radius:4px;
	border: 1px solid #999;
	height:20px;
	line-height:20px;
	position:relative;
	top:10px;
	float:left;
	display:none;
}
.settlement .pro1-head input.price {
	border:1px solid #fafafa;
	background-color:#fafafa;
}
.memo {
	overflow:hidden;
}
.memo input {
	width:450px;
	height:30px;
	line-height:30px;
	margin-left:20px;
	border-radius:4px;
	border:1px solid #999;
	padding:0 10px;
	background-color:#fafafa;
	float:left;
	margin-right:10px;
}
.memo input.error-style {
	background-color: #edc8cc;
    border: 1px solid #ae0004;
}
.pop-tjdd {
	width:95px;
}
.change {
	margin-left:5px;
	font-size:13px;
	color:#222;
	/*text-decoration:line-through;*/
}
.change.none {display:none}
.choose-goods .middle-left tr.h40 td {
	border-bottom:1px solid #ccc;
}
.choose-goods .middle-left td.ta-left,.con-middle .middle-left td.ta-left {text-align:left }
.choose-goods .middle-left td.ta-right {text-align:right }
.choose-goods .middle-left td.ta-right.pr20 {padding-right:20px }
.choose-goods .middle-right div {
	margin:0;
}
.choose-goods .middle-right div.h40.bgcolorebebeb {
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	height:39px;
	width:92%;
	float:left;
}
.choose-goods .middle-right div.h95 {
	width:92%;
	border-right:1px solid #ccc;
	float:left;
}
.choose-goods .middle-right div.reduce {
	background-color:#e3e3e3;
	border-left:1px solid #fff;
	height:135px;
	float:left;
	width:100%;
	position:relative;
	line-height:135px;
	font-size:18px;
	color:#aaa;
	font-weight:bolder;
	cursor:pointer;
	background-image:url(../images/reduce.png);
	background-repeat:no-repeat;
	background-position:50%;
}
.choose-goods .middle-right div.reduce:hover {
	background-color:#ebebeb;
}
.tips {
	line-height:30px;
	color:#ae0004;
	margin-left:10px;
	font-size:13px;
}
.record-con .middle-left:hover tr.bgcolorf0efef {
	background-color:#B6DADC;
}
.record-con .middle-left:hover tr.bgcolorf0efef td {
	border-bottom:1px solid #B6DADC;
}
.record-con .middle-left tr.bgcolorf0efef td {
	border-bottom:1px solid #ccc;
}
.con-top.ov-auto {
	overflow:visible;
}
.memo textarea {
	border:1px solid #fafafa; 
	background-color:#fafafa;
	font-size:12px;
	width:450px;
	padding:0 10px;
	height:auto;
	margin-left:20px;
	resize:none;
	overflow:auto;
}
.radio {
	width:20px;
	height:15px;
	display:inline-block;
	background:url(../images/redio.png) no-repeat;
	cursor:pointer;
	position:relative;
	top:2px;
}
.radio.sel {
	background:url(../images/redio-sel.png) no-repeat;
}
.finite {
	width:70px;
	background-color:#fafafa;
	border:1px solid #999;
	border-radius:4px;
}
.finite.error-style {
	background-color: #edc8cc;
    border: 1px solid #ae0004;
}
.finite.error-style input {
	background-color: #edc8cc;
}
.finite input {
	height:22px;
	line-height:22px;
	border:none;
	width:47px;
	padding:0;
	border-radius:4px;
	text-align:right;
	background-color:#fafafa;
	margin-right:20px;
	padding-right:2px;
}
.finite span {
	right:5px;
	color:#aaa;
	height:24px;
	line-height:24px;
	top:0;
}
.pro-zzc {
	left:40px;
	width:207px;
	height:24px;
}
.num-reduce {
	background:url(../images/reduce.png) no-repeat;
	width:14px;
	height:15px;
	display:inline-block;
	cursor:pointer;
}
.num-add {
	background:url(../images/pop-add.png) no-repeat;
	width:15px;
	height:16px;
	display:inline-block;
	cursor:pointer;
}
/***********************************订单管理 end************************************************/
/***********************************销售统计 start**********************************************/
.tab {
	width:100%;
	height:41px;
	/*position:relative;
	top:30px;*/
	background-color:#fafafa;
	outline:none;
	/*margin-top:30px;*/
}
.tab-con {
	width:96%;
	margin:0 auto;
	height:40px;
	border-bottom:1px solid #ccc;
}
.tab-con > div {
	width:90px;
	border-bottom:3px solid #fafafa;
	height:37px;
	float:left;
	color:#969fbd;
	font-size:14px;
	text-align:center;
	line-height:40px;
	cursor:pointer;
	position:relative;
	z-index:2;
}
.tab-con > div:hover {
	border-bottom:3px solid #0db4be;
}
.tab-con > div a {
	text-decoration:none;
	color:#969fbd;
	outline:none;
	display:inline-block;
	height:37px;
	width:90px;
}
.tab-con > div.sel {
	border-bottom:3px solid #0db4be;
}
.tab-con > div.sel a {
	color:#008992;
}
.statistics {
	height:72px;
	margin-top:20px;
}
.statistics.log.order {margin-top:0}
.tab-iframe {
	/*position:relative;*/
	width:100%;
	/*top:10px;*/
	/*min-height:560px;*/
}
.tab-iframe-container {
	height:100%;
}
.sales-rank {
	position:relative;
	width:95%;
	background-color:#fafafa;
	margin:0 auto;
	overflow:hidden;
}
.rank-left {
	width:440px;
	height:400px;
	float:left;
	margin-left:40px;
}
.rank-right {
	float:right;
	width:100%;
}
/*.rank-right .table-bottom {
	width:100%;
}*/
.rank-right table td {
	height:40px;
	padding:0 1%;
	line-height:40px;
	text-align:center;
	color:#222;
	font-size:13px;
}
.rank-right table td.ta-right {text-align:right; padding-right:25px;}
.rank-right table td.ta-left {text-align:left; text-indent:10px;}
.border1 {border-left:3px solid #998cc1}
.border2 {border-left:3px solid #629dd4}
.border3 {border-left:3px solid #5bc9c5}
.border4 {border-left:3px solid #f4a67e}
.border5 {border-left:3px solid #efd696}
.border6 {border-left:3px solid #cccccc}
.rank-right table td a {
	text-decoration:none;
	color:#222;
	outline:none;
}
.rank-right table td a.color0066cc {
	color:#0066cc;
}
.rank-right table td a:hover {
	text-decoration:underline;
}
.view {
	width:24px;
	height:24px;
	background:url(../images/view.png) no-repeat;
	display:inline-block;
	cursor:pointer;
}
.view:hover {
	background:url(../images/view-hover.png) no-repeat;
}
.rant1 {
	background:url(../images/guanjun.png) no-repeat left;
}
.rant2 {
	background:url(../images/rant2.png) no-repeat left;
}
.rant3 {
	background:url(../images/rant3.png) no-repeat left;
}
.rant4 {
	background:url(../images/rant4.png) no-repeat left;
}
.rant5 {
	background:url(../images/rant5.png) no-repeat left;
}
.rank-right thead td {
	color:#969fbd;
}
.money {
	background:url(../images/paixu.png) no-repeat right center;
	cursor:pointer;
	width:20px;
	height:20px;
	display:inline-block;
	position:absolute;
	top:10px;
}
.money.toggle {
	background-image:url(../images/daopaixu.png);
}
.rank-right table td.ta-right.money {padding-right:25px}
.sale-table .table-top {
	margin-top:20px;
}
.product-sales {
	width:95%;
	margin:0 auto;
	height:400px;
	background-color:#fafafa;
	border-radius:0 0 5px 5px;
	padding-top:20px;
}
.product-sales-chart {
	width:100%;
	height:400px;
}
/***********************************销售统计 end************************************************/
/***********************************安装监控 start**********************************************/
.install .table-middle a {
	color:#222;
}
.install .table-middle a.color0066cc {
	color:#0066cc;
}
.install .table-middle td:first-child {
	padding-left:2%;
}
.empty-table .table-middle tr {
	background-color:#fafafa;
}
.empty-table .table-middle > div {
	margin:0 auto;
	height:20px;
	line-height:20px;
	text-align:center;
	background-color:#fafafa;
}
.empty-table a {
	background:url(../images/loading02.gif) no-repeat 0 -5px;
	display:inline-block;
	width:160px;
	height:30px;
	line-height:22px;
}
.log-table,.log-table-freeze {
	margin-bottom:20px;
	outline:none;
}
.pop .pop-con input[type="text"].error-style {
	border:1px solid #AE0004;
	background-color:#EDC8CC;
}
.record-title .border.fl {float:left}
/***********************************安装监控 end************************************************/
.select-drop {
	margin-top:-3px;
}
.select-drop ul.items li {
	padding:5px 3px 5px 8px;
}
.select-drop ul.items li.over {
	background-color:#B6DADC;
	text-indent:5px;
}
.select-container {
	border-radius:4px;
}
.pro-table-con .select-container {
	position:relative;
	top:9px;
	left:13px;
}
.pro-table-con .select3 .select-container {
	left:0;
}
.pro-table-con .select-drop ul li {
	line-height:15px;
}
.pro-table-con .select-drop {
	margin-top:6px;
	margin-left:13px;
}
.pro-table-con .select3 .select-drop {
	margin-left:0;
}
.pop-con .zl_select {
	float:left;
}
/********************权限设置********************/
.left-head {
	height:40px;
	background-color:#f0f0f0;
	overflow:hidden;
	border-bottom: 1px solid #aaa;
}
.left-head > p {
	text-indent:15px;
	font-size:14px;
	color:#222;
	margin:0;
	line-height:40px;
}
.mkmc {
	width:316px;
	height:160px;
	padding:10px;
	border:1px solid #aaa;
	display:inline-block;
	background-color:#fafafa;
	border-radius:4px;
	float:left;
}
.mkmc.error-style {
	border: 1px solid #ae0004;
	background-color:#edc8cc;
}
.mk-error {
	position:relative;
	top:155px;
	left:10px;
}
.mkmc > div {
	display:inline-block;
	width:155px;
	height:30px;
}
.mkmc > div .checkbox {
	height:30px;
	display:inline-block;
	float:left;
	margin-right:10px;
	background:url(../images/add-checkbox.png) no-repeat 0 -8px;
}
.mkmc > div .checkbox.selall {
	background:url(../images/checkbox-sel-all1.png) no-repeat left center;
}
.mkmc > div span {
	height:30px;
	line-height:30px;
	float:left;
}
.permission table,.permission1 table,.permission3 table {
	table-layout:fixed;
}
.permission table td,.permission1 table td,.permission3 table td {
	overflow:hidden;
	text-overflow:ellipsis;
	table-layout: fixed;
    white-space: nowrap;
    word-break: keep-all;
	word-wrap:normal;
	line-height:1.5;
}
.permission table td.toggle,.permission1 table td.toggle,.permission3 table td.toggle {
	word-break:break-all;
	word-wrap:break-word;
	white-space:normal;
}
.permission-up {
	width:16px;
	height:13px;
	cursor:pointer;
	display:inline-block;
	background:url(../images/down1.png) no-repeat;
}
.permission-up.toggle {
	background-image:url(../images/up1.png);
}
.sub {
	color:#999;
}
/********************权限设置结束********************/
/********************消息列表开始********************/
.email {
	background:url(../images/email.png) no-repeat;
	float:left;
	width:22px;
	height:22px;
}
.email1 {
	background:url(../images/email1.png) no-repeat;
}
.confirm-txt p {
	margin:0;
}
.email-tip {
	background:url(../images/tip.png) no-repeat;
	width:15px;
	height:15px;
	display:inline-block;
	top:10px;
	right:3px;
	position:absolute;
}
.user-tip {
	background:url(../images/tip.png) no-repeat;
	width:15px;
	height:15px;
	display:inline-block;
	position:relative;
	top:10px;
	left:24px;
}
.span-yd {
	color:#999;
}
/********************消息列表结束********************/
/********************软件录入开始********************/
.add-app span {
	height:30px;
	line-height:28px;
	font-size:14px;
}
.add-app .zl_radio_down,.add-app .zl_radio_normal {
	top:8px;
}
.add-product .upload-box input {
	position:absolute;
	top:0;
	left:10px;
	opacity:0;
	filter:alpha(opacity=0);
	width:98px;
	height:32px;
	margin:0;
	padding:0;
	cursor:pointer;
	font-size:100px;
}
.file-list a.upload-success {
	color:#8C8C8C;
	position:relative;
	top:7px;
	left:25px;
	display:block;
	cursor:default;
}
.file-list a.upload-success:hover {
	text-decoration:none;
}
.add-product .pop-con .text-length-tip {
	color:#222;
	display:none;
	font-size:13px;
	position:absolute;
	top:130px;
	left:530px;
}
.text-length-tip span {
	color:#009999;
}
.date-clear {
	background:url(../images/date-clear.png) no-repeat center;
	width:20px;
	height:30px;
	cursor:pointer;
	position:absolute;
	right:58px;
	display:none;
}
.remarks {
	overflow:hidden;
}
.remarks span {
	float:left;
}
/********************软件录入结束********************/

/********************jquery ui********************/
.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {width:45%}
.ui-menu { max-height:150px; overflow-y:auto; }
.record-con .product-name input.ui-autocomplete-input {color:#222;}
.ui-menu .ui-menu-item{width:336px; margin-right:3px;}
.ui-autocomplete {word-break:break-all; word-wrap:break-word;}
.ui-widget {font-size:12px; font-family:"微软雅黑"}
.pop.add-salesman .select-drop ul{max-height:100px; overflow:auto;}
.ui-autocomplete{border:1px solid #0db4be}
