/* CSS Document */
/*************************按钮通用 start*********************************/
.bt_icon {
	border:1px solid #b3b3b3;
    border-radius: 2px;
    color: #555555;
    cursor: pointer;
/*    float: left;*/
    height: 14px;
    line-height: 1.1em;
    margin-left: 10px;
    text-align: center;
    width: auto;
	padding:5px 30px;
	font-size:12px;
	font-weight:bold;
}
.bt_icon_b1{
	background:url(../images/login_bt.png);
}
.bt_icon_b2{
	background:url(../images/bt_bg.png);
	border: 1px solid #d5d5d5;
}
.bt_icon_b3{
	background:url(../images/print.png);
}
.bt_icon div.export_bt{
	background-image:url(../images/export_bt.png);
	background-position:center 0px;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	display:table-cell;
	vertical-align:middle;
}
.bt_icon div.print_bt{
	background-image:url(../images/icon-print_03.png);
	background-position:center 0px;
	background-repeat:no-repeat;
	width:17px;
	height:18px;
	display:table-cell;
	vertical-align:middle;
}
.bt_icon div.cancel_bt{
	background-image:url(../images/cancel.png);
	background-position:center 0px;
	background-repeat:no-repeat;
	width:16px;
	height:16px;
	display:table-cell;
	vertical-align:middle;
}
.bt_icon div.text{
	width:auto;
	height:auto;
	display:table-cell;
	padding-left:10px;
	line-height:1em;
	vertical-align:middle;
}
.btContainer .bts{
	position:absolute;
	right:30px;
	top:20px;
}
.bt_pl{
	text-decoration:underline;
	display:table-cell;
	color:#0099cc;
	font-weight:bold;
}
/*************************按钮通用 end***********************************************/
/**************************字段列表通用 start****************************************/
.fieldsContainer ul{
	list-style:none;
	width:auto;
	margin:0px;
	float:left;
}
.fieldsContainer ul > li{
	list-style:none;
	width:auto;
	display:inline;
	padding-right:10px;
	padding-bottom:5px;
}
.fieldsContainer ul > li ul li{
	list-style:none;
	float:left;
	width:auto;
	display:inline;
}
.fieldsContainer ul > li ul li.value{
	padding-left:5px;
}
.fieldsContainer ul > li ul li.yuan{
	position: absolute;
	left: 154px;
	top: 137px;
}
.fieldsContainer ul > li ul li.text{
	line-height:1.5em;
}
.fieldsContainer ul > li ul{
	margin:0;
	padding:0;
	height:auto;
	width:auto;
}
.fieldsContainer ul.w900{width:900px}
/**************************字段列表通用 end****************************************/
/**********************列表删除数据成功 start**************************************/
.list_delete_msg {
	border:1px solid #78b865;
    border-radius: 2px;
    color: #000;
/*    float: left;*/
    height: 14px;
    line-height: 1.1em;
    text-align: center;
    width: auto;
	padding:5px 30px;
	font-size:12px;
	display:inline-block;
}
.list_delete_msg_b1{
	background:url(../images/list_delete_msg.png) no-repeat 10px;
	background-color:#D8EED1;
}
.list_delete_msg div.text{
	width:auto;
	height:auto;
	display:table-cell;
	padding-left:5px;
	line-height:1em;
	vertical-align:middle;
}
/**********************列表删除数据成功 end*************************/
/**********************列表无数据 start*****************************/
.empty_data{
	color:#555555;
}
/**********************列表无数据 end*******************************/
/**********************列表加载数据 start***************************/
.load_data{
    color: #555555;
/*    float: left;*/
    height: 14px;
    line-height: 1.1em;
    text-align: center;
    width: auto;
	padding:5px 30px;
	font-size:12px;
	display:inline-block;
}
.load_data_b1{
	background:url(../images/load_data.png) no-repeat 10px;
}
/**********************列表加载数据 end****************************/

/**********************冻结表格 start***************************/
.freeze-left,.freeze-middle,.freeze-right{
	float: left;
}
.freeze-middle{
	overflow: hidden;
	overflow-x: auto;
	/*padding-bottom: 15px;*/
}
.freeze-middle table{
	min-width: 800px;
}
.freeze-panel{
	border-left: 1px solid #0DB4BE;
	border-right: 1px solid #0DB4BE;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing:border-box;
	box-sizing: border-box;
}
.log-table-freeze table{
	table-layout: fixed;
}
.log-table-freeze table td{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.log-table.log-table-freeze td{
	white-space: nowrap;
}
/**********************冻结表格 end****************************/