@charset "utf-8";
/* CSS Document */
.m0auto{margin:0 auto}
.ml5{margin-left:5px}
.ml10{margin-left:10px}
.ml15{margin-left:15px}
.ml25{margin-left:25px}
.ml30{margin-left:30px}
.ml55{margin-left:55px}
.ml85{margin-left:85px}
.ml30{margin-left:30px}
.mlauto{margin-left:auto}
.mr0{margin-right:0px}
.mr5{margin-right:5px}
.mr10{margin-right:10px}
.mr15{margin-right:15px}
.mr20{margin-right:20px}
.mr22{margin-right:22px}
.mr30{margin-right:30px}
.mr20per{margin-right:20%}
.mrauto{margin-right:auto}
.mt0{margin-top:0}
.mt10{margin-top:10px}
.mt7{margin-top:7px}
.mt15{margin-top:15px}
.mt20{margin-top:20px}
.mt30{margin-top:30px}
.mb2{margin-bottom:2px}
.mb7{margin-bottom:7px}
.mb10{margin-bottom:10px}
.mb15{margin-bottom:15px}
.mb20{margin-bottom:20px}
.pt7{padding-top:7px}
.pt15{padding-top:15px}
.pb10{padding-bottom:10px}
.pb15{padding-bottom:15px}
.pr20{padding-right:20px}
.pr4{padding-right:4px}
.pr35{padding-right:35px}
.pr31{padding-right:31px}
.pl85{padding-left:85px}
.pl55{padding-left:55px}
.pl10{padding-left:10px}
.hauto{height:auto}
.h15{height:15px}
.h20{height:20px}
.h25{height:25px}
.h30{height:30px}
.h40{height:40px}
.h95{height:95px}
.h115{height:115px}
.mh120{max-height:120px}
.mh123{max-height:123px}
.h70{height:70px}
.h120{height:120px}
.h123{height:123px}
.lh15{line-height:15px}
.lh20{line-height:20px}
.lh30{line-height:30px}
.ti10{text-indent:10px}
.ti20{text-indent:20px}
.ti25{text-indent:25px}
.fl{float:left}
.fr{float:right}
.fs0{font-size:0px}
.fs12{font-size:12px}
.fs13{font-size:13px}
.fs14{font-size:14px}
.bold{font-weight:bold}
.colorfff{color:#fff}
.coloraaa{color:#aaa}
.colorbbb{color:#bbb}
.color222{color:#222}
.color00ffff{color:#00ffff}
.color0066cc{color:#0066cc}
.color008992{color:#008992}
.colorff6600{color:#ff6600}
.colorffff00{color:#ffff00}
.color646464{color:#646464}
.colorae0004{color:#ae0004}
.color478120{color:#478120}
.dl-ib{display:inline-block}
.dl-i{display:inline}
.dl-b{display:block}
.po-re{position:relative}
.po-ab{position:absolute}
.top0{top:0}
.t9{top:9px}
.top4{top:4px}
.top13{top:13px}
.top15{top:15px}
.top20{top:20px}
.top28{top:28px}
.top48{top:48px}
.top55{top:55px}
.right7{right:7px}
.right15{right:15px}
.right85{right:85px}
.left15{left:15px}
.left30{left:30px}
.left45{left:45px}
.left23p{left:23%}
.bgcolorfafafa{background-color:#fafafa}
.bgcolore3e3e3{background-color:#e3e3e3}
.bgcolorb6dadc{background-color:#b6dadc}
.bgcolorebebeb{background-color:#ebebeb}
.bgcolorf0efef{background-color:#F0EFEF}
.cur-po{cursor:pointer}
.width-auto{width:auto}
.width20{width:20px}
.width30{width:30px}
.width38{width:38px}
.width45{width:45px}
.width60{width:60px}
.width65{width:65px}
.width72{width:72px}
.width75{width:75px}
.width80{width:80px}
.width100{width:100px}
.width105{width:105px}
.width115{width:115px}
.width120{width:120px}
.width130{width:130px}
.width135{width:135px}
.width145{width:145px}
.width150{width:150px}
.width155{width:155px}
.width165{width:165px}
.width185{width:185px}
.width190{width:190px}
.width195{width:195px}
.width200{width:200px}
.width210{width:210px}
.width207{width:207px}
.width218{width:218px}
.width225{width:225px}
.width240{width:240px}
.width245{width:245px}
.width250{width:250px}
.width258{width:258px}
.width260{width:260px}
.width275{width:275px}
.width280{width:280px}
.width290{width:290px}
.width300{width:300px}
.width310{width:310px}
.width330{width:330px}
.width350{width:350px}
.width645{width:645px}
.width795{width:795px}
.width-p-98{width:98%;}
.min-width800{min-width:800px}
.ta-left{text-align:left}
.ta-right{text-align:right}
.ta-center{text-align:center}
.ov-hi{overflow:hidden}
.ovy-auto{overflow-y:auto}
.clear-both{clear:both}
.outline{outline:none}
.t-d-line{text-decoration:line-through}
.b-l-ccc{border-left:1px solid #ccc}
.b-b-ccc{border-bottom:1px solid #ccc}
.text-dot{
	text-overflow:ellipsis;
	white-space:nowrap; 
	overflow:hidden; 
}
/*vertical-align*/
.v-a-t{vertical-align:top}
.v-a-m{vertical-align:middle}
.v-a-b{vertical-align:bottom}
.text-break{word-wrap:break-word;word-break:break-all;}
.text-nobreak{white-space:nowrap}