link(href="/css/index.css",rel="stylesheet")
link(href="/javascripts/plugins/select/default-style/css/content_u4.css",rel="stylesheet")
link(href="/javascripts/plugins/pagination/pagenation.css",rel="stylesheet")