.menu
	.menu-shandow
	.menu-logo
		span.menu-logo-icon
	.menu-con
		ul
			li.secondary
				a(href="/admin/secondaryManage") 二手房管理
			li.rent
				a(href="/admin/rentManage") 租房管理
			li.community
				a(href="/admin/communityManage") 小区管理
			li.user
				a(href="/admin/user") 用户管理
			li.public
				a(href="/admin/public") 公共设置
			li.permissions
				a(href="/admin/permissions") 权限设置
.shade(id="shade")